---
import { FeatureCard } from "./FeatureCard.tsx";
---

<div class="features">
    <h1>Caracteristicas incluidas</h1>
    <div class="features__list">
        <ul class="features__list-cards">
            <FeatureCard/>
            <FeatureCard/>
            <FeatureCard/>
            <FeatureCard/>
            <FeatureCard/>
            <FeatureCard/>
        </ul>
        <ul class="features__list-cards">
            <FeatureCard/>
            <FeatureCard/>
            <FeatureCard/>
            <FeatureCard/>
            <FeatureCard/>
            <FeatureCard/>
        </ul>
    </div>
</div>