---
import { FeatureCard } from "./FeatureCard.tsx";
---

<div class="features">
    <h1>Caracteristicas incluidas</h1>
    <div class="features__list">
        <ul class="features__list-cards">
            <FeatureCard/>
            <FeatureCard/>
            <FeatureCard/>
            <FeatureCard/>
            <FeatureCard/>
            <FeatureCard/>
        </ul>
        <ul class="features__list-cards">
            <FeatureCard/>
            <FeatureCard/>
            <FeatureCard/>
            <FeatureCard/>
            <FeatureCard/>
            <FeatureCard/>
        </ul>
    </div>
</div>
<style>
    .features{
        padding:100px 0;
    }
    .features h1{
        text-align: center;
        margin-bottom: 70px;
    }
    .features__list{
        margin:auto;
        display: flex;
        width: fit-content;
        gap:50px;
    }
    .features__list ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap:30px
    }
</style>