---
import { MoreCard } from "./MoreCard";
---
<section class="more">
    <div class="more__text">
        <h1>¿Es una Landing Page lo que necesitas?</h1>
        <p>Elige Landing Page si necesitas una herramienta específica de conversión para campañas, productos o eventos. Para presencia digital completa, considera un Sitio Web.</p>
    </div>
    <div class="more__cards">
        <MoreCard/>
        <MoreCard/>
        <MoreCard/>
    </div>
</section>
<style>
    .more{
        padding:100px 0;
        margin:auto;
    }
    .more__text{
        text-align: center;
    }
    .more__text p{
        margin-top:30px;
        color:grey
    }
    .more__cards{
        width: 80%;
        margin:70px auto;
        display:flex;
        align-items: center;
        justify-content: space-around;
    }
</style>