---
import {Card} from './Card.tsx'
---
<section class="faqs">
    <div class="faqs__text">
        <h2>Preguntas Frecuentes</h2>
        <h4>Respuestas a las dudas más comunes sobre nuestros servicios</h4>
    </div>
    <div class="faqs__cards">
        <Card/>
        <Card/>
        <Card/>
        <Card/>
        <Card/>
        <Card/>
        <Card/>
    </div>
</section>