---
import {Card} from './Card.tsx'
---
<section class="faqs">
    <div class="faqs__text">
        <h2>Preguntas Frecuentes</h2>
        <h4>Respuestas a las dudas más comunes sobre nuestros servicios</h4>
    </div>
    <div class="faqs__cards">
        <Card/>
        <Card/>
        <Card/>
        <Card/>
        <Card/>
        <Card/>
        <Card/>
    </div>
</section>
<style>
    .faqs{
        margin:100px auto
    }
    .faqs__text{
        text-align: center;
        margin-bottom: 50px;
    }
    .faqs__text h2{
        font-size: 2rem;
        margin-bottom:30px
    }
    .faqs__text h4{
        font-size: 1.1rem;
        font-weight: normal;
        color:gray
    }
    .faqs__cards{
        width: min-content;
        margin:auto;
    }
</style>