---
import ServiceCard from "./ServiceCard.astro"
---

<section class="servicesHome">
    <div class="servicesHome__text">
        <h2>Nuestros servicios</h2>
        <h3>Soluciones completas para llevar tu presencia digital al siguiente nivel</h3>
    </div>
    <div class="servicesHome__cards">
        <ServiceCard/>
        <ServiceCard/>
        <ServiceCard/>
        <ServiceCard/>
    </div>
</section>
<style>
    .servicesHome{
        margin:60px 200px
    }
    .servicesHome__text{
        text-align: center;
        margin:70px
    }
    .servicesHome__text h2{
        font-size: 2rem;
        margin:20px 0
    }
    .servicesHome__text h3{
        font-size: 1.2rem;
        font-weight: normal;
        color:gray
    }
    .servicesHome__cards{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap:30px
    }
</style>