---
import ServiceCard from "./ServiceCard.astro"
---

<section class="servicesHome">
    <div class="servicesHome__text">
        <h2>Nuestros servicios</h2>
        <h3>Soluciones completas para llevar tu presencia digital al siguiente nivel</h3>
    </div>
    <div class="servicesHome__cards">
        <ServiceCard/>
        <ServiceCard/>
        <ServiceCard/>
        <ServiceCard/>
    </div>
</section>