---
import { CardTag } from "./CardTag";
---
<div class="servicesCard">
        <h4>LANDING PAGE</h4>
        <h4>$100.000 ARS</h4>
        <p>Una página única, moderna y optimizada para presentar tu negocio o producto de forma efectiva.</p>
        <div class="servicesCard__tags">
          <CardTag/>
          <CardTag/>
          <CardTag/>
          <CardTag/>
          <CardTag/>
          <CardTag/>
          <CardTag/>
        </div>
</div>
