---
import {Card} from './Card.tsx'
---
<div class="cards">
    <Card/>
    <Card/>
    <Card/>
</div>
<style>
    .cards{
        display:flex;
        align-items: center;
        justify-content: center;
        width: 90vw;
        margin:auto;
        gap:20px;
        padding:100px 0
    }
</style>