---
import { DescriptionCard } from "./DescriptionCard.tsx";
---
<section class="description">
   <div class="description__text">
        <h1>Servicio completo de diseño de Landing Page</h1>
        <h3>Queremos crear tu página web y que se destaque, pero también queremos darte el mejor servicio.</h3>
   </div>
   <div class="descriptions-container">
      <div class="descriptions-container__section1">
         <div class="cards">
            <DescriptionCard/>
            <DescriptionCard/>
            <DescriptionCard/>
            <DescriptionCard/>
         </div>
         <img src="/src/assets/images/intro.webp" alt="image example">
      </div>
      <div class="descriptions-container__section2">
         <img src="/src/assets/images/intro.webp" alt="image example">
         <div class="cards">
            <DescriptionCard/>
            <DescriptionCard/>
            <DescriptionCard/>
            <DescriptionCard/>
         </div>
      </div>
   </div>
</section>