.carouselHero{
    width:100%;
    height: 120px;
    background-color: rgb(25, 24, 26);
    font-size: 5rem;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}