---
import { BlogPopularFooter } from './BlogPopularFooter';
---
<div class="blogCardPopular">
    <img src="/src/assets/images/intro.webp" alt="image example">
    <div class="blogCardPopular__text">
        <p>Que debes aprender para ser full stack? (Guia completa)</p>
        <BlogPopularFooter/>
    </div>
</div>