---
import { BlogCardFooter } from "./BlogCardFooter";
---
<div class="blogCard">
    <img src="/src/assets/images/intro.webp" alt="image example">
    <h3>Que debes aprender para ser full stack? (Guia completa)</h3>
    <BlogCardFooter/>
</div>