---
import { BlogCardFooter } from "./BlogCardFooter";
---
<div class="blogCard">
    <img src="/src/assets/images/intro.webp" alt="image example">
    <h3>Que debes aprender para ser full stack? (Guia completa)</h3>
    <BlogCardFooter/>
</div>
<style>
    .blogCard{
        width: 300px;
    }
    .blogCard img{
        width:100%;
        height:auto;
        border-radius:5px;
    }
    .blogCard h3{
        font-size:1.2rem;
        margin:15px 0;
    }

</style>