---
import { Search } from "./Search"
import {BlogCardMain} from './BlogCardMain.tsx'
import BlogCardPopular from "./BlogCardPopular.astro"
---
<section class="blogHero">
    <Search />
    <div class="blogsPopular">
        <BlogCardMain/>
        <div class="blogsPopular__left">
            <h4>Lo mas Leido</h4>
            <div class="blogsPopular__left__cards">
                <BlogCardPopular/>
                <BlogCardPopular/>
                <BlogCardPopular/>
            </div>
        </div>
    </div>
</section>
<style>
    .blogHero{
        padding:70px 0;
        margin:auto;
        height: 100vh;
    }
    .blogsPopular{
        display:flex;
        align-items: start;
        justify-content: center;
        gap:30px
    }
    .blogsPopular__left h4{
        margin-bottom: 20px;
    }
    .blogsPopular__left__cards{
        height: 100%;
        display:flex;
        flex-direction: column;
        gap:20px;
    
    }
</style>