---
import BlogCard from "./BlogCard.astro";

---
<section class="blogs">
    <h2>Ultimos articulos</h2>
    <div class="blogs__cards">
        <BlogCard/>
        <BlogCard/>
        <BlogCard/>
        <BlogCard/>
        <BlogCard/>
        <BlogCard/>
        <BlogCard/>
        <BlogCard/>
    </div>
</section>