---
---
<form action="" class="contact__form">
    <div class="input-container">
        <label for="">Nombre completo</label>
        <input type="text" placeholder="Escriba su nombre">
    </div>
    <div class="input-container">
        <label for="">Nombre completo</label>
        <input type="text" placeholder="Escriba su nombre">
    </div>
    <div class="input-container">
        <label for="">Nombre completo</label>
        <input type="text" placeholder="Escriba su nombre">
    </div>
    <div class="input-container">
        <label for="">Nombre completo</label>
        <textarea name="" id="" placeholder="Escriba su mensaje..."></textarea>
    </div>
</form>
