.card{
    width:750px;
    padding:10px 15px;
    margin:20px 0;
    border:1px solid rgb(44, 44, 44);
    border-radius:10px;
    cursor: pointer;
}
.card__visible{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.card__visible p{
    font-size: .9rem;
}
.card__visible-icon{
    font-size:1.5rem
}