---
import { IntroTag } from "./IntroTag";
---

<section class="intro">
    <div class="introLeft">
        <h2>Transformamos Ideas en Realidad Digital</h2>
        <div class="intro__text">
            <p>En ASTRO LVL WEB, somos un equipo de desarrolladores apasionados por crear experiencias digitales únicas. Combinamos diseño vanguardista con tecnología de punta para llevar tu negocio al siguiente nivel.</p>
            <p>Desde startups innovadoras hasta empresas consolidadas, ayudamos a nuestros clientes a destacar en el mundo digital con soluciones personalizadas y escalables.</p>
        </div>
        <div class="intro__tags">
            <IntroTag/>
            <IntroTag/>
            <IntroTag/>
            <IntroTag/>
        </div>
    </div>
    <div class="introRight">
        <img src="/src/assets/images/intro.webp" alt="Intro image"/>
    </div>
    
</section>