---
import MainLogo from './MainLogo.astro';
import LanguageButton from './LanguageButton.astro';
---

<header>
    <MainLogo/>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/process">Process</a></li>
            <li><a href="/blogs">Blogs</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <LanguageButton/>
</header>
<style>
    @media screen and (max-height: 368px) {

	}

	@media screen and (max-width: 768px) {
		
	}
</style>