---
---
<div class="mainLogo">
    <img src="/comets.png" alt="comets" width="30" height="30">
    <h3>Astro LvL</h3>
</div>
<style>
    .mainLogo{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .mainLogo h3{
        font-size: 1.4rem;
        margin:0
    }
</style>