.heroLeft__button{
    display:flex;
    align-items: center;
    justify-content: center;
    width:fit-content;
    gap:10px;
    padding:10px 15px;
    border:none;
    border-radius:20px;
    color:rgb(0, 0, 0);
    font-weight: bold;
    background-color: steelblue;
}
.heroLeft__button p{

}
.heroLeft__button-icon{
    font-size: 1.1rem;
}