.moreCard{
    margin:auto;
    width: 350px;
    text-align: center;
    border:1px solid lightseagreen;
    padding:20px;
    border-radius:5px
}
.moreCard p{
    margin:20px 0;
}
.moreCard__button{
    display: flex;
    align-items: center;
    border:none;
    border-radius: 5px;
    background-color: rgb(16, 192, 116);
    color:black;
    font-weight: bold;
    padding:10px 20px;
    gap:10px;
    cursor: pointer;
    margin: auto;
}
.moreCard__button-icon{
    font-size: 1.2rem;
}