.blogPopularFooter{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 0px;
    border-top: 1px solid rgb(41, 41, 41);
}
.blogPopularFooter__readTime, .blogPopularFooter__date{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:5px;
}
.blogPopularFooter__readTime>span, .blogPopularFooter__date>span{
    font-size: 14px;
    color:rgb(150, 150, 150);
}