.blogPopularFooter {
    display: flex;
    align-items: center;
    gap: 14px;
}
.blogPopularFooter__readTime,
.blogPopularFooter__date {
    display: flex;
    align-items: center;
    gap: 4px;
    color: rgb(105, 105, 130);
    font-size: 11px;
}
.blogPopularFooter__readTime svg,
.blogPopularFooter__date svg {
    font-size: 12px;
    opacity: 0.65;
}