.blogSearch{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 500px;
    position: relative;
    margin:70px auto

}
.blogSearch input{
    width: 100%;
    height: 35px;
    border-radius: 20px;
    border:1px solid rgb(50, 50, 50);
    position:absolute;
    outline: none;
    background-color: transparent;
    padding:5px 20px;
    color:white
}
.blogSearch-icon{
    font-size: 20px;
    color:rgb(255, 255, 255);
    position: absolute;
    right:10px;
    z-index: 2
}