---
import { HeroTag } from "./HeroTag";
import {Button} from './Button.tsx'
import {CarouselHero} from '../../CarouselHero'
---
<section class="hero">
    <div class="heroLeft">
        <p class="heroLeft__section">Servicios > Landing Page</p>
        <div class="heroLeft__text">
            <h1>Landing Pages que Convierten Visitantes en Clientes</h1>
            <h4>Diseños de alto impacto enfocados en resultados medibles</h4>
        </div>
        <div class="heroLeft__tags">
            <HeroTag/>
            <HeroTag/>
            <HeroTag/>
            <HeroTag/>
        </div>
        <Button/>
    </div>
    <div class="heroRight">
        <img src="/src/assets/images/landingpage.png" alt=";anding page illustration" class="heroRight__image">
    </div>
    <CarouselHero/>
</section>
<style>
    .hero{
        height: 100dvh;
        width:80dvw;
        margin:auto;
        display:flex;
        align-items: center;
        justify-content: space-around;
    }
    .heroLeft{
        width:600px;
        height: 100dvh;
        display:flex;
        flex-direction: column;
        justify-content: center;
        gap:70px

    }
    .heroLeft__tags{
        display:flex;
        gap:10px;
        flex-wrap: wrap;
        margin:20px 0
    }
    .heroRight{

    }
    .heroRight img{
        width:500px;
        height: 280px;
    }
</style>