---
import { HeroTag } from "./HeroTag";
import {Button} from './Button.tsx'
---
<section class="hero">
    <div class="heroLeft">
        <p class="heroLeft__section">Servicios > Landing Page</p>
        <div class="heroLeft__text">
            <h1>Landing Pages que Convierten Visitantes en Clientes</h1>
            <h4>Diseños de alto impacto enfocados en resultados medibles</h4>
        </div>
        <div class="heroLeft__tags">
            <HeroTag/>
            <HeroTag/>
            <HeroTag/>
            <HeroTag/>
        </div>
        <Button/>
    </div>
    <div class="heroRight">
        <img src="/src/assets/images/landingpage.png" alt=";anding page illustration" class="heroRight__image">
    </div>
</section>