---
import { CTAServicesButton } from "./CTAServicesButton.tsx";
---
<section class="CTAServices">
    <h2>Inversión desde $1,200</h2>
    <p>Personalizable según necesidades y alcance del proyecto</p>
    <CTAServicesButton/>
</section>