---
import { CTAServicesButton } from "./CTAServicesButton.tsx";
---
<section class="CTAServices">
    <h2>Inversión desde $1,200</h2>
    <p>Personalizable según necesidades y alcance del proyecto</p>
    <CTAServicesButton/>
</section>
<style>
    .CTAServices{
        margin:auto;
        text-align: center;
        padding:100px 0;
    }
    .CTAServices h2{
        margin-bottom:20px;
        color:steelblue
    }
    .CTAServices p{
        margin-bottom:40px;
        color:grey
    }
</style>