---
import Header from "../components/Header/Header.astro"
import {Footer} from "../components/Footer.tsx"
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/comets.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro LvL - Agencia de Desarrollo de Software</title>
	</head>
	<body>
		<Header/>
		<slot />
		<Footer/>
	</body>
</html>

<style>
	@font-face {
		font-family: 'Inter'; /* Name you choose for your font */
		src: url('/src/assets/fonts/Inter\,wght.ttf') format('woff2'); /* Path to the font file */
		font-weight: normal; /* Define the font's weight */
		font-style: normal;  /* Define the font's style */
		font-display: swap;  /* Optional: Prevents render-blocking */
	}
	:global(*){
		box-sizing:border-box;
		margin: 0;
		padding:0;
		font-family: 'Inter',Arial, Helvetica, sans-serif;
	}
	html,
	body {
		background-color: rgb(6, 3, 19);
		color:white
	}
</style>
