---
import ProcessCard from "./ProcessCard.astro"
---
<section class="process">
    <h1>Nuestro proceso de trabajo</h1>
    <div class="process__cards">
        <ProcessCard/>
        <ProcessCard/>
        <ProcessCard/>
        <ProcessCard/>
        <ProcessCard/>
    </div>
</section>